<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        i = 0
        def();
    </script>
        <img src="{{ url_for('static', filename='다운로드.jpeg') }}">
    <p>{% for i in date %}
        <a href="http://localhost:5000/mongo/{{i}}"><li>{{i}}</li></a> 
    {% endfor %}</p>
</body>
</html>