{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>project</h1>
    <p class="lead">이 프로젝트는 누렁멍멍이가 만들었습니다.</p>
    <p><a href="https://jeil.jje.hs.kr/" class="btn btn-primary btn-large">제주일고홈페이지</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>파이썬</h2>
        <p>
            1991년에 발표된, MATLAB과 유사한 인터프리터 방식의 프로그래밍 언어이다.
        </p>
        <p><a class="btn btn-default" href="https://www.python.org/">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>셀리늄</h2>
        <p>셀레늄(Selenium)은 웹 애플리케이션 테스트를 위한 포터블 프레임워크이다. <br />
        <p><a class="btn btn-default" href="https://www.selenium.dev/">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>플라스크</h2>
        <p>플라스크(Flask)는 파이썬으로 작성된 마이크로 웹 프레임워크의 하나로, Werkzeug 툴킷과 Jinja2 템플릿 엔진에 기반을 둔다. BSD 라이선스이다.</p>
        <p><a class="btn btn-default" href="https://flask.palletsprojects.com/en/2.0.x/">Learn more </a></p>
    </div>
</div>

{% endblock %}
